@charset "UTF-8";

/* ****************** */
/* Dashboard Classes  */
/* ****************** */

.dashboard {
	background-color: var(--bg-offwhite);
}

/* ****************** */
/* Navigation Bar     */
/* ****************** */

.dashboard_header {
	min-width: 100%;
	display: flex;
	align-items: center;
	background-color: var(--color-secondary);
	color: white;
}

.dashboard_header h2 a {
	font-family: var(--ff-headings);
	font-weight: var(--fw-xtrabold);
	font-size: 1.25rem;
	padding-inline: 1rem;
	text-decoration: none;
	color: white;
}

.dashboard_header nav {
	display: flex;
	margin-left: auto;
}

.nav_btn {
	text-decoration: none;
	display: block;
	font-weight: var(--fw-semibold);
	padding: 1rem;
	color: white;
}

.nav_btn:hover {
	transition: ease 0.3s;
	background-color: #3589C1;
}

/* ****************** */
/* Main Section       */
/* ****************** */

main {
	width: 100%;
	padding: 2rem;
}

.container {
	background-color: white;
	border-radius: 2rem;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	padding: 2rem;
	margin-bottom: 5px;
}

.container header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.temptable th, .temptable td {
    border: 1px solid black;
    text-align: left;         
    padding: 4px;     
}

.temptable th {
    background-color: #EEE;
}

.temptable, .temptable th, .temptable td {
    margin: 0;
}

.hRadioGroup {
	display: flex;
	gap: 10px;
}

/* ****************** */
/* Form Section       */
/* ****************** */

.form_group {
	display: flex;
	justify-content: space-evenly;
}

.form_label {
	font-style: italic;
	display: block;
}

fieldset {
	border: none;
}

.form_multiple_select {
	display: block;
	width: 100%;
}

.form_single_select {
	display: inline-block;
	padding: 0.25rem 1rem;
	border-width: 2px solid;
}

.form_input {
	border: 2px solid #ddd;
	padding: 0.25rem 1rem;
	border-radius: 0.25rem;
	margin-left: 1rem;
}

.form_btn {
	display: block;
	min-width: 100%;
	padding: 0.5rem 2rem;
	background-color: var(--color-success);
	font-weight: var(--fw-semibold);
	border-radius: .25rem;
	cursor: pointer;
}

.form_btn:hover {
	transition: ease .35s background-color;
	background-color: #3FBE49;
}

.form_btn:focus-visible {
	outline: 2px solid black;
}

/* ****************** */
/* Walk List          */
/* ****************** */

.walk_list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.walk_card {
	border-radius: 0.5rem;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	background-color: white;
	display: flex;
	width: 100%;
	padding: 0.5rem 1rem;
	text-decoration: none;
}

/* ********************* */
/* Walk Details          */
/* ********************* */

.back_btn {
	display: block;
	color: var(--color-secondary);
	margin-bottom: 1rem;
	margin-left: 1rem;
	cursor: pointer;
	text-decoration: none;
}

.back_btn:hover {
	text-decoration: underline;
}

.cancel {
	background-color: var(--bg-offwhite);
	color: black;
}


/* **************** */
/* Media Queries    */
/* **************** */

@media (max-width: 32em) {

	.subtitle {
		font-size: 1.5rem;
	}

	.welcome_msg {
		display: none;
	}
}

@media (max-width: 68em) {
	
	.flex {
		flex-direction: column;
		gap: 4rem;
	}
}