@charset "UTF-8";



.selectDoggies{
	width: 20em;
	border: 1px solid #ddd;
}
.selectDoggies:Focus{
	outline: none;
}

.greenBack {
	background-color: #99FF99;
}


.miniForm {
	margin: 5px;
	padding: 5px;
	border: 1px solid grey;
	outline: none;
	display: inline-block;
}