@charset "UTF-8";

:root {
	--ff-primary: "PT Sans", sans-serif;
	--ff-headings: "Nunito", sans-serif;
	
	--fw-regular: 400;
	--fw-semibold: 600;
	--fw-bold: 700;
	--fw-xtrabold: 900;
	
	--fs-paragraph: 1rem;
	
	--bg-offwhite: #E9E9E9;
	--bg-gradient: linear-gradient(
    #EED991 0%, #CCF7F4 100%
  );
  
  	--color-primary: #000000;
  	--color-secondary: #3c96d1;
  	--color-success: #5AD564;
  	--color-error: #FF5733;
	
}

/* **************** */
/* CSS Reset */
/* **************** */

/* Box Sizing */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Remove Margins */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Make height full monitor height */
html,
body {
  min-height: 100dvh;
}

/* Default line height & font smoothing */
body {
  line-height: 1.5;
}

/* Remove list bullets */
ul,
ol {
  list-style: none;
}

/* Make scrolling smooth when clicking an anchor */
html:focus-within {
  scroll-behavior: smooth;
}

/* Match image width */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

/* Remove bult-in form typography */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline-color: transparent;
}

/* Maintain style even if the text is too long */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* **************** */
/* End of CSS Reset */
/* **************** */

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	
	font-family: var(--ff-primary);
	font-weight: var(--fw-regular);
	font-size: var(--fs-regular);
	color: var(--color-primary);
}

main {
	flex: 1;
	display: grid;
	place-content: center;
	margin-inline: 1rem;
}

/* ************************** */
/* Login / Registration Form  */
/* ************************** */

.login {
	background: var(--bg-gradient);
}

.title {
	font-family: var(--ff-headings);
	font-size: 3rem;
	font-weight: var(--fw-bold);
}

.subtitle {
	font-family: var(--ff-headings);
	font-size: 2rem;
	font-weight: var(--fw-bold);
}

.login_form_label {
	display: block;
	font-style: italic;
}

.login_form_input {
	display: block;
	border: 2px solid black;
	border-radius: .25rem;
	padding: 0.5rem 1rem;
	min-width: 100%;
	font-style: normal;
}

fieldset {
	border: none;
	display: flex;
	gap: 1rem;
}

fieldset .login_form_label,
fieldset .login_form_input {
	display: inline-block;
}

.login_form_input:focus-visible {
	outline: 0px;
	border: 2px solid var(--color-secondary);
}

.login_link {
	color: var(--color-secondary);
	font-weight: var(--fw-bold);
}

.login_form_btn {
	display: block;
	min-width: 100%;
	padding: 0.5rem 2rem;
	background-color: var(--color-success);
	font-weight: var(--fw-semibold);
	border-radius: .25rem;
	cursor: pointer;
}

.login_form_btn:hover {
	transition: ease .35s background-color;
	background-color: #3FBE49;
}

.login_form_btn:focus-visible {
	outline: 2px solid black;
}

.login_error {
	color: var(--color-error);
	font-weight: var(--fw-semibold);
}

footer {
	margin-top: auto;
	padding-block: 2rem;
	font-size: .8rem;
	font-weight: var(--fw-bold);
}


/* ****************** */
/* Dashboard Classes  */
/* ****************** */

.dashboard {
	background-color: var(--bg-offwhite);
}

.dashboard_header {
	min-width: 100%;
	display: flex;
	align-items: center;
	background-color: var(--color-secondary);
	color: white;
}

.dashboard_header h2 {
	font-family: var(--ff-headings);
	font-weight: var(--fw-xtrabold);
	font-size: 1.25rem;
	padding-inline: 1rem;
}

.dashboard_header nav {
	display: flex;
	margin-left: auto;
}

.nav_btn {
	text-decoration: none;
	display:block;
	font-weight: var(--fw-semibold);
	padding: 1rem;
	color: white;
}

.nav_btn:hover {
	transition: ease 0.3s;
	background-color: #3589C1;
}

.container {
	background-color: white;
	border-radius: 2rem;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	padding: 2rem;
}

.container header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

/* **************** */
/* Utility Classes  */
/* **************** */

.mt-2 {
	margin-top: 1rem;
}

.center {
	text-align: center;
}

.btn {
	padding: 0.5rem 2rem;
	border-radius: .25rem;
	background-color: var(--color-secondary);
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	text-decoration: none;
	color: white;
	font-weight: var(--fw-semibold);
}

/* **************** */
/* Media Queries    */
/* **************** */

@media (max-width: 32em) {
	.title {
		font-size: 2.5rem;
	}
	
	.subtitle {
		font-size: 1.5rem;
	}
	
	.welcome_msg {
		display: none;
	}
}